
*.xccheckout

TsukurouGitHubTest.xcodeproj/project.xcworkspace/xcuserdata/nobuki.xcuserdatad/UserInterfaceState.xcuserstate

TsukurouGitHubTest.xcodeproj/xcuserdata/nobuki.xcuserdatad/xcschemes/TsukurouGitHubTest.xcscheme

TsukurouGitHubTest.xcodeproj/xcuserdata/nobuki.xcuserdatad/xcschemes/xcschememanagement.plist
